<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    {{{block "pageStyles"}}}
  </head>
  <body>
    {{>header}}
    <div id="body">
      {{{body}}}
    </div>
    {{>footer}}
    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    {{{block 'pageScripts'}}}
  </body>
</html>
